<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">My app</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="">Home</a>
      </li>
    </ul>
    <div class="d-flex">
      <div class="d-flex" role="search">
        <input [(ngModel)]="searchInput" class="form-control me-2" placeholder="Rechercher" type="search">
        <button (click)="search()">Rechercher</button>
      </div>
    </div>
  </div>
</nav>
